

<div class="footer" style="position: relative; height: fit-content; height: 250px;">
    <div class="footer-content col-md-12">
        <div class="row">
            <div class="footer-text col-md-3">
                <h3>Contact US</h3>              
                 <p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>&nbsp;&nbsp;1234567890</p>    
                 <p>
                     <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                      vedprakash637@gmail.com
                 </p>
                 <p><span><i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp;</i></span><small>Office: Promach Hospitality Pvt. Ltd
                    47/1, Mayur Vihar Phase 1, New Delhi 110091, India
                    Central Kitchen: 174-E, Patparganj, 1st Floor, Mayur Vihar Phase1,
                     New Delhi 110091, India</small></p>                 
            </div>
            <div class="footer-text col-md-3">
                <h3>OUR BANK DETAILS</h3>
                <p><span><i class="fa fa-university" aria-hidden="true">&nbsp;&nbsp;</i></span><small>Account Name: Promach Hospitality Pvt. Ltd.</small></p>
                <p><span><i class="fa fa-credit-card" aria-hidden="true">&nbsp;&nbsp;</i></span><small>Account No: 1518002100510097</small></p>
                <p><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank: Punjab National Bank</small></p>
                <p><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IFSC: PUNB0151800</small></p>
            </div>
            <div class="col-md-3">
                <a class="btn text-white bg-black" routerLinkActive="active" routerLink="order"><strong>Order Now</strong></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom col-md-12" style="height: 25px;">
        <p class="text-bottom" style="font-size: 10px; text-align: center;">Promach Hospitality Private Limited © 2017. All rights reserved. Designed by Whatdaweb.</p>
    </div>
  </div>
