<div class="about-head">
  <h1 class="col-md-12 py-4">About Us</h1><br><br><br>
  <h5 class="card-title py-4">HOME AWAY FROM HOME. DELIVERED AND SERVED. IN YOUR CONFINES.</h5>
</div>
<div class="container">   
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="/assets/foodimage1.jpeg" class="card-img-top" alt="...">
              </div>
        </div>
        <div class="col-md-6">
            <div class="card">               
                <div class="card-body">
                 <br><br><br>
                  <p class="card-text">
                    We're a bunch of people who are extremely passionate about food. We love to eat And feed just as
                     well.

                    On a serious note, at corporate dhaba, we believe that lunch shouldn't only be affordable and
                     convenient but also fresh, fun and delicious. And what could be better
                     than home-cooked food served at your disposal. Moreover we ourselves are food lovers & great 
                     foodies, hence we at Corporate Dhaba believe that cooking and catering is an art that is mastered
                      through experience along with great passion for food.
                    
                    Corporate Dhaba brings to you sumptuous yet nutritious meals prepared by very talented chefs 
                    from the freshest seasonal ingredients and delivered to your workplace with unswerving promptness.
                     And the best bit is affordable prices..
                  </p>
                  <a routerLink="/service" class="btn btn-primary">Menu</a><a href="#" class="btn btn-success">Order Now</a>
                </div>
              </div>
        </div>
        
    </div>
</div>
</div>
<div class="btm col-md-12">
  <div class="row">
    <div class="meals col-md-6" style="text-align: right;">
            
      <h6>Meals Cooked</h6>
      <h2>8.85+ Lakh</h2>
  
  </div>
  <div class="col-md-6" style="text-align: left;">
  
       <h6>Client Served</h6>
       <h2>1000+</h2>
  
  </div>
  </div>

</div>




