<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header bg-primary">
              
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="monday">Monday</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="tuesday">Tuesday</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  routerLink="wednesday">Wednesday</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="thrusday">Thrusday</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="friday">Friday</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="saturday">Saturday</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="sunday">Sunday</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="cart">
                       <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;Cart  
                    </a>
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>
